
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body{
  background-color: #E5E1DA;
  font-family:'Alata','Times New Roman', Times, serif ;
  display: flex;
  justify-content: center;
  align-items: center;
}
a :hover{
  cursor: pointer;
}